/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

.main-container {
    width: 95%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto
}

.header,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5%;
    padding-top: 20px;
}

.entete-menu {
    display: flex;
    gap: 30px;
    margin: 0;
    width: 20%;
}

.entete-menu li {
    display: inline;
    width: 50%;
}

.list-menu {
    text-decoration: none;
    color: black;
    padding: 15px 0;
    display: inline-block;
    width: 120px;
    text-align: center;
    border-top: 2px solid transparent;
}

.list-menu:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.main-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.subtitle {
    color: #555;
    font-size: 0.9em;
}

.form-search {
    display: flex;
    border: 1px solid gray;
    border-radius: 13px;
    width: 35%;
}

.fa-location-dot {
    color: black;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    width: 2%;
}

.search-ville {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    border: none;
}

.search-ville::placeholder {
    color: black;
}

.mobile-only {
    display: none;
}

.submit {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: #DEEBFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 35%;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin-top: 20px;
}

.filter-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.description {
    font-size: 16px;
    font-weight: bold;
}

.button {
    display: flex;
    gap: 8px;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
}

.button:hover {
    background-color: #F2F2F2;
}

.info {
    display: flex;
    font-size: 15px;
    font-weight: lighter;
    gap: 10px;
    color: #555
}

.fa-info {
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: none;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
}

.hebergement-card .card {
    width: 30%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.hebergement-card img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    flex-shrink: 0;
}

.hebergement-card .card-content {
    padding-left: 10px;
}

.more {
    font-weight: bold;
    font-size: 20px;
    padding-top: 35px;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    margin: 65px 20px;
}

.activites-link {
    margin: none;
    padding: none;
}

.activites-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.activites-card .cartes {
    width: 23%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.activites-card img {
    width: 100%;
    height: 83%;
    object-fit: cover;
    flex-shrink: 0;
}

.cartes-title {
    font-size: 16px;
    text-align: left;
    padding: 10px 5px;
}

/***********Footer**********/

.pied {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding-left: 20px;
}

.footer-group {
    width: 30%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: #555;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 90%;
        box-sizing: border-box;
        padding: 15px 10px;
        align-content: center;
    }

    .logo {
        width: 10%;
    }

    .entete-menu {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        width: 30%;
        gap: 30%;
    }

    .list-menu:hover {
        color: blue;
        border-top: 2px solid #0065FC;
    }

    .list-menu {
        display: flex;
        text-align: end;
        width: 100%;
    }

    .main-title {
        font-size: 15px;
        padding-top: 15px;
    }


    .subtitle {
        font-size: 12px;
        padding-bottom: 15px;
    }

    .form-search {
        width: 40%;
        height: 40px;
    }

    .fa-location-dot {
        padding: 12px;
    }

    .search-ville {
        font-size: 14px;
    }

    .mobile-only {
        display: none;
    }

    .submit {
        font-size: 14px;
    }

    .button:hover {
        background-color: #F2F2F2;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .description {
        font-size: 14px;
    }

    .filter-button {
        display: flex;
        flex-direction: row;
    }

    .button {
        font-size: 14px;
    }

    .info {
        font-size: 12px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 90%;
    }

    .activites-card .cartes {
        height: auto;
    }

    .activites-card .cartes-title {
        font-size: 14px;
        text-align: center;
        margin-top: 0px;
        white-space: normal;
    }

    .pied {
        flex-direction: row;
        gap: 120px;
    }

    .footer-group h4 {
        font-size: 14px;
        white-space: nowrap;
    }

    .footer-group .footer-text {
        font-size: 12px;
        white-space: nowrap;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-container {
        margin: 0;
        padding: 0;
        width: 100%;
        align-content: center;
    }

    .main-container nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 20%;
        margin-bottom: 20px;
    }

    .entete-menu {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }

    .entete-menu li {
        display: flex;
        flex: 1;
        justify-content: center;
        width: 50%;
        box-sizing: border-box;
    }

    .list-menu {
        text-decoration: none;
        color: black;
        width: 70%;
        text-align: center;
        font-size: 14px;
    }

    .entete-menu li:hover {
        border-bottom: 2px solid #0065FC;
    }

    .list-menu:hover {
        color: #0065FC;
        border-top: none;
    }


    .main-title {
        font-size: 25px;
        padding: 0px 15px;
    }

    .subtitle {
        font-size: 15px;
        padding: 0px 15px 15px 15px;
    }

    .form-search {
        display: flex;
        border: 1px solid gray;
        border-radius: 13px;
        width: 90%;
        margin: 15px;
        height: 40px;
    }

    .fa-location-dot {
        color: black;
        background-color: #F2F2F2;
        border-radius: 10px 0px 0px 10px;
        padding: 12px 15px 12px 20px;
        width: 9%
    }

    .search-ville {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        width: 90%;
        border: none;
    }

    .search-ville::placeholder {
        color: black;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: flex;
    }

    .submit {
        font-size: 14px;
        width: 18%;
        padding: 15px 10px 15px 20px;
        border-radius: 10px 10px;
        box-shadow: 0px 5px 2px rgba(0, 0, 0);
    }

    .submit .fa-magnifying-glass {
        background-color: #0065FC;
        color: #DEEBFF;
        font-weight: bold;
        font-size: 14px;
        border: none;
        width: 35%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 15px;
    }

    .button:hover {
        background-color: #F2F2F2;
    }

    .description {
        font-size: 14px;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .filter-button {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .button {
        font-size: 14px;
        flex: 1 1 calc(50% - 10px);
        padding: 10px;
        box-sizing: border-box;
    }

    .info {
        font-size: 12px;
        padding: 0px 15px;
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: 10px 0px
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements {
        width: 100%;
        background-color: none;
    }

    .hebergement-card {
        flex-direction: column;
        margin: 0px 10px;
    }

    .hebergement-card .card {
        width: 100%;
    }

    .hebergement-card .more {
        padding-top: 20px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 100%;
        margin: 30px
    }

    .activites-card {
        display: flex;
        flex-direction: column;
    }

    .activites-title {
        font-size: 22px;
        margin-left: 10px;
    }

    .activites-card .cartes {
        height: 200px;
        width: 85%;
    }

    .activites-card .cartes-title {
        font-size: 14px;
        text-align: center;
        margin-top: 0px;
        white-space: normal;
    }

    .pied {
        flex-direction: column;
        gap: 50px;
        margin: 0;
    }

    .footer-group h4 {
        font-size: 14px;
    }

    .footer-group .footer-text {
        font-size: 12px;
    }
}